<div class="container container-vertical">
  <h1 class="container-title">Education</h1>
  <div *ngFor="let education of educations" class="inside-container container-horizontal">
    <div class="inside-container container-horizontal">
      <div class="inside-container container-vertical container-wrap same_size">
        <div class="container-title">
          <h1>{{education.name}}</h1>
        </div>
        <p>{{education.startDate.toLocaleDateString()}}, {{education.endDate.toLocaleDateString()}}</p>
        <h1>{{education.career}}</h1>
        <img src="{{education.logo}}" alt="{{education.name}}" style="width: 400px; height: 300px;">
      </div>
      <div class="inside-container container-vertical same_size">
        <div class="container-title">
          <h1>Experience</h1>
        </div>
        <div class="text-container container-vertical" *ngFor="let experience of education.experiences">
          <li>{{experience}}</li>
        </div>
      </div>
  </div>
</div>
