<html>
  <header>
    <meta charset="UTF-8">
    <meta name="description" content="Ihosvani Noa Zambrano website portfolio">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <app-navbar></app-navbar>
  </header>
  <body>
    <app-profile></app-profile>
    <app-programming-skills></app-programming-skills>
    <app-education></app-education>
    <app-personal-projects></app-personal-projects>
  </body>
  <footer>
    <app-footer></app-footer>
  </footer>
</html>
