.container{
  height: 100%;
  border: none;
  justify-content: center;
  align-items: center;
}

.text-container{
  height: 300px;
  width: 400px;
  border: 2px black solid;
  border-radius: 10px;
  background-color: #51FFC5;
}

p{
  margin: 20px;
}


