/* You can add global styles to this file, and also import other style files */
.navbar{
  padding: 10px 0px 10px 0px;
  margin: 0px 0px 75px -0px;
  background-color: gold;
}

.navbar-left-items{
  margin:auto;
}

.navbar-right-items{
  margin:auto;
}

.navbar-item{
  background-color: cyan;
  border: 1px red;
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 20px 20px 20px 20px;
  margin: 20px 20px 20px 20px;
}
