<div class="container">
  <h1 class="container-title">Main programmings skills</h1>
  <i class="devicon-angularjs-plain colored"></i>
  <i class="devicon-nestjs-plain colored"></i>
  <i class="devicon-docker-plain colored"></i>
  <i class="devicon-javascript-plain colored"></i>
  <i class="devicon-html5-plain colored"></i>
  <i class="devicon-css3-plain colored"></i>
  <i class="devicon-mysql-plain colored"></i>
  <i class="devicon-graphql-plain colored"></i>
  <i class="devicon-mongodb-plain colored"></i>

</div>
<div class="container">
  <h1 class="container-title">Secondary programmings skills</h1>
  <i class="devicon-python-plain colored"></i>
  <i class="devicon-django-plain colored"></i>
  <i class="devicon-c-plain colored"></i>
  <i class="devicon-cplusplus-plain colored"></i>
  <i class="devicon-java-plain colored"></i>
  <i class="devicon-postgresql-plain colored"></i>
</div>

